<div class="results">
  <% if @mushrooms.count > 0 %>
  <%= render "criterias" %>
  <p>20 results per page</p>
  <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <% @mushroom_attributes.each do |mushroom_attribute| %>
        <th><%= mushroom_attribute.gsub('_', ' ').capitalize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @mushrooms.each do |mushroom| %>
      <tr>
        <td><%= mushroom.id %></td>
        <% @mushroom_attributes.each do |mushroom_attribute| %>
        <td><%= mushroom[mushroom_attribute] %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <%= render "criterias" %>
  <img src="https://media.giphy.com/media/XZYU1eBnPPC67Dh8Uw/giphy.gif" alt="sad mushroom">
  <% end %>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @mushrooms %>
    </div>
    <div class="pagination_container">
      <%= will_paginate @mushrooms, previous_label: "<", next_label: ">" %>
    </div>
  </div>
</div>
