<h1>Welcome to the Internet Mushroom DataBase</h1>
<p>There are <%= Mushroom.count %> mushrooms in the database</p>
<p>There are <%= Mushroom.edible(false).count %> poisonous mushrooms in the database</p>
<p>There are <%= Mushroom.edible(true).count %> edible mushrooms in the database</p>

<h1>What kind of mushrooms are you looking for?</h1>
<div>
  <%= form_tag root_path, method: :get do %>

  <% @mushroom_attributes.each do |mushroom_attribute| %>

  <%= label_tag(mushroom_attribute) %>
  <%= select_tag "#{mushroom_attribute}", options_for_select([""] + Mushroom::MUSHROOM_CONSTANTS[mushroom_attribute.to_sym]) %>
  <% end %>

  <%= submit_tag "Search" , class: "btn-orange" %>
  <%= link_to "Remove filter", root_path %>

<% end %>
</div>


<div>
  <% if @mushrooms.count > 0 %>
    <p>Your search returned <%= @mushrooms.count %> results / 50 results per page</p>
    <table>
      <thead>
        <tr>
          <% @mushroom_attributes.each do |mushroom_attribute| %>
          <th><%= mushroom_attribute.gsub('_', ' ').capitalize %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @mushrooms.each do |mushroom| %>
        <tr>
          <% @mushroom_attributes.each do |mushroom_attribute| %>
          <td><%= mushroom[mushroom_attribute] %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No mushrooms match your search criterias</p>
  <% end %>
  <div>
      <%= will_paginate @mushrooms %>
  </div>
</div>

