<!DOCTYPE html>
<html>
  <head>
    <title>Internetmushroomdatabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <h1 class="title">The Internet Mushroom DataBase</h1>
      <p>Credits: Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [https://archive.ics.uci.edu/ml/datasets/Mushroom]. Irvine, CA: University of California, School of Information and Computer Science.</p>
      <img src="https://external-preview.redd.it/-h0kSAI73DEruwEfQodhg21GdD8Cp916EndPFEhZkMY.jpg?auto=webp&s=fee3bfa093247e491aa0e5cb8088f12ba181865d" alt="amanita">

    </div>
    <%= yield %>
  </body>
</html>
